@import url(./_theme_dark/section-title_theme_dark.css);

.section-title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
}