.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  color: black;
}

.feinman__link:hover {
  color: #2F80ED;
}