@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);

.feinman {
  height: 790px;
  background-color: #F2F2F2;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/feinman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}